@import "/src/Sass/_styling.scss";


:root{
    flex: 0 1 auto;
    
}
#root{height: 100vh !important;}

        a{
            color: white;
        }
    
body{
    margin: 0;
    height: 100vh !important;
    
}        